extends layout

head
  title= title

block content
  .input.knob.second(
                     data-width="150"
                     data-height="150"
                     data-cursor=true
                     data-thickness=.2
                     data-fgColor="#3AFF30"
                    )
  .timer
    p#minute 25
    p :
    p#second 00
  button#start Start
  button#addMinute More Time
  button#takeMinute Less Time
  button#stop Stop
  button#reset Reset

